In [1]:
from google.colab import drive

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [3]:
import pandas as pd
import numpy as np

from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder


from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import mean_squared_error
from math import sqrt

import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/train_data-1638436039700.csv",  parse_dates={'date':['year','month','day']}, keep_date_col=False)

In [5]:
data.head()

        date  city  medicine  sales
0 2015-01-02     1         1   24.0
1 2015-01-02     1         2  144.0
2 2015-01-02     1         3   84.0
3 2015-01-02     1         4   24.0
4 2015-01-02     1         5    8.0

In [6]:
data.dtypes

date        datetime64[ns]
city                 int64
medicine             int64
sales              float64
dtype: object

In [7]:
data = data[data['date']>='2017-01-01']

In [8]:
data['city'] = ['city_' + str(i) for i in data['city']]
data['medicine'] = ['med_' + str(i) for i in data['medicine']]
data['time_series'] = data[['city', 'medicine']].apply(lambda x: '_'.join(x), axis=1)
data.drop(['city', 'medicine'], axis=1, inplace=True)

In [9]:
data['month'] = data['date'].dt.month
data['year'] = data['date'].dt.year
data['day_of_week'] = data['date'].dt.dayofweek
data['day_of_year'] = data['date'].dt.dayofyear

In [10]:
data.shape

(11742027, 7)

In [11]:
data.dtypes

date           datetime64[ns]
sales                 float64
time_series            object
month                   int64
year                    int64
day_of_week             int64
day_of_year             int64
dtype: object

In [12]:
numeric_list = ['day_of_year','year']

categorical_list = ['month','day_of_week']

In [13]:
data[categorical_list] = data[categorical_list].astype('category')

In [14]:
#test size is 20%
train = data.iloc[0:9393092:]
test = data.iloc[9393093:,:]

In [15]:
display(train.shape)
display(test.shape)

(9393092, 7)

(2348934, 7)

In [16]:
X_train = train.drop('sales',axis=1)
X_test  = test.drop('sales',axis=1)

y_train = train.sales
y_test  = test.sales

In [17]:
del(data)
del(train)
del(test)

In [23]:
num_cols = ['medicine']

In [24]:
mapper = DataFrameMapper(
  [([continuous_col], StandardScaler()) for continuous_col in numeric_list] +
  [([categorical_col], OneHotEncoder(handle_unknown='ignore')) for categorical_col in categorical_list]
, df_out=True)

In [25]:
print(numeric_list)
print(categorical_list)

['medicine']
['month', 'day_of_week']